

.home{
    height: 60px;
    display: flex;
    flex-direction: column;
}

.home .searchDiv{
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
}
.home input{
    height: 30px;
    width: 220px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.home input:focus{
  outline: none;
}

.home button{
    height: 30px;
    background-color: black;
    border-radius: 5px;
    width: 90px;
    color: white;
    cursor: pointer;
    border: none;
}
.home button:hover{
    /* background-color: #FF3D00; */
    background-color: rebeccapurple;


}

.displayData{
    /* border: 1px solid blue; */
    background-color: #F1EFF1;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.eachData{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 15px 6px lightgray;
}


.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: navy;
    margin: 80px auto;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
